body {
    background-color: #070f17;
    font-family: "tissa" sans-serif;
    font-weight: 1vw;
    font-weight: 400;
    color: white;
}
.navbar {
    position: fixed;
    size: 200px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    text-align: center;
    float: right;
    margin-right: 100px;
}
.intro {
    border: solid 1px white;
    height: 800px;
    padding-top: 300px;
}
.intro p {
    /* height: 400px;
    width: 800px; */
    text-align: center;
    font-size: 30px;
}